body {
    background: url("https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/31487680_240335786703756_709742409361129472_n.jpg?_nc_cat=0&oh=d8da30e7e564f70b69fc8a58131fbfb6&oe=5B5EB47D");  
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
}

html{
	height: 100%;
}

.content {
	text-align: center;
	padding-top: 20%;
}

#text-content {
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-size: 5em;
}

.shadow {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.color{
	color: white;
}
